<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lqx.edu.mapper.TeacherMapper">

    <resultMap id="BaseResultMap" type="com.lqx.edu.vo.TeacherOutput">
        <result column="name" jdbcType="VARCHAR" property="stname"/>
        <result column="level" jdbcType="DECIMAL" property="aalevel"/>
    </resultMap>

    <select id="selectTeacherOutput"  resultMap="BaseResultMap">
        SELECT
        name ,level
        FROM
        edu_teacher
    </select>
</mapper>
